@using XMLNav.Models
@using XMLNav.Helpers

@model HomeModel

@{
    ViewBag.Title = "XMLNav Test";
}

<div class="row" style="padding: 8px;">
    <div class="span4">
        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
            @Html.Raw(@Html.RenderTreeBootstrap(Model.LeftTree))
            </ul>
        </div>
    </div>
    <div class="span4">
        <div class="well" style="padding: 8px 0;">
            <ul class="nav nav-list">
            @Html.Raw(@Html.RenderTreeBootstrap(Model.RightTree))
            </ul>
        </div>
    </div>
</div>